div.page_footer_container
	footer.tc_page_footer
		div.copyright
			div.container-fluid
				div.row
					div.col-md-8.col-xs-6
						p
							span 
								| #{site.nowyear} &copy; 
								a(href="#{site.officeurl}" target="_blank") #{site.officename}
								| ALL rights Reserved.
					div.col-md-4.col-xs-6
						ul.social-footer
							li
								a(href="http://www.facebook.com" target="_blank")
									i.fa.fa-facebook
							li
								a(href="http://www.google.com" target="_blank")
									i.fa.fa-google-plus
							li
								a(href="http://www.twitter.com" target="_blank")
									i.fa.fa-twitter
							li
								a(href="http://www.linkedin.com" target="_blank")
									i.fa.fa-linkedin
							li
								a(href="http://www.skype.com" target="_blank")
									i.fa.fa-skype
							li
								a(href="http://www.github.com" target="_blank")
									i.fa.fa-github
							li
								a(href="http://www.youtube.com" target="_blank")
									i.fa.fa-youtube
							li
								a(href="http://www.dropbox.com" target="_blank")
									i.fa.fa-dropbox