head
	meta(charset="utf-8")
	title Pivotal-Login
	meta(content="width=device-width, initial-scale=1.0" name="viewport")
	meta(content="pivotal" name="description")
	meta(content="" name="author")

	link(href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css")
	link(href="/lib/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" type="text/css")
	link(href="/lib/bootstrap-fileupload/bootstrap-fileupload.css" rel="stylesheet" type="text/css")
	link(href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css")
	link(href="/dist/css/pivotal.css" rel="stylesheet" type="text/css")
body.login-bg(ng-app="pivotalAppSign")
	div.page_header_container
		header.tc_page_header.tc_page_header-ia.tc_page_header-expanded
			ul.no-margin.list-unstyled.list-inline.nav-list
				li
					a.tc_header_item.tc_header_logo.tc_big_logo(href="/#!/")
				li
					h1.no-margin
						span
							span.tc_context_name
								span.raw_context_name.project-title 
									a(href="/#!/") #{title}
	div.container-fluid
		div.row
			div#page-content.user-content(ng-view ng-cloak)
	div.page_footer_container
		footer.tc_page_footer
			div.copyright
				div.container-fluid
					div.row
						div.col-md-8.col-xs-6
							p
								span 
									| #{nowyear} &copy; 
									a(href="#{officeurl}" target="_blank") #{officename}
									| ALL rights Reserved.
						div.col-md-4.col-xs-6
							ul.social-footer
								li
									a(href="http://www.facebook.com" target="_blank")
										i.fa.fa-facebook
								li
									a(href="http://www.google.com" target="_blank")
										i.fa.fa-google-plus
								li
									a(href="http://www.twitter.com" target="_blank")
										i.fa.fa-twitter
								li
									a(href="http://www.linkedin.com" target="_blank")
										i.fa.fa-linkedin
								li
									a(href="http://www.skype.com" target="_blank")
										i.fa.fa-skype
								li
									a(href="http://www.github.com" target="_blank")
										i.fa.fa-github
								li
									a(href="http://www.youtube.com" target="_blank")
										i.fa.fa-youtube
								li
									a(href="http://www.dropbox.com" target="_blank")
										i.fa.fa-dropbox

// libs
script(src="/dist/js/vendor.js")

// angular init js
script(src="/app/app.js")

// angular services
script(src="app/services/sign.js")

//angular controllers
script(src="/app/controllers/signinController.js")
script(src="/app/controllers/signupController.js")
script(src="/app/controllers/forgotPasswordController.js")
script(src="/app/controllers/resetPasswordController.js")

script(src="/dist/js/pivotal.js")