<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="title text-center">Assigned Members</h2>
    </div>
    <div class="col-sm-8 col-sm-offset-2">
      <div class="member-lists">
        <div ng-repeat="member in project.tms">
          <div class="row">
            <div class="col-sm-3">
              <div class="item">
                  <img width="150" height="150" src="/uploads/user/{{member._id}}/{{member.avatar}}" alt="2050" ng-if="member.avatar!=''">
                  <img width="150" height="150" src="/assets/images/avatar.png" alt="2050" ng-if="member.avatar==''">

              </div>
            </div>
            <div class="col-sm-9">
              <h2 class="member-name"><a class="pull-left text-capitalize" ng-click="showProfile(member)">{{member | name:'full'}}</a></h2>
              <ul class="member-info">
                <li><i class="fa fa-envelope"></i> {{member.emailaddress}}</li>
              </ul>
              <ul class="member-info">
                <li><i class="fa fa-male" ng-if="member.gender==0"></i><i class="fa fa-female" ng-if="member.gender==1"></i></li>
                <li><i class="fa fa-calendar"></i> {{member.birthday}}</li>
                <li><i class="fa fa-pinterest"></i> {{member.project_count}}</li>
              </ul>
            </div>
          </div>
          <hr class="sep">
        </div>
      </div>
    </div>
  </div>
</div>